body{
background: #f6f6f6;
font-size: 15px;
color: #1a1a1a;
}
body,button,p{
	margin: 0;
}
ol,ul{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
button{	
	padding: 0;
	font:inherit;
	color: inherit;
	line-height: inherit;	
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
}
.button{
display: inline-block;
padding: 0 16px;	
font-size: 14px;
color: #8590a6;
text-align: center;
border: 1px solid;
border-radius: 3px;
line-height: 32px;
}
.appHeader{
background: #fff;
min-width: 1032px;
}
.appHeader-inner{
	width: 1000px;
	height: 52px;
	padding: 0 16px;
	margin: 0 auto;
}
.appHeader-tabs{
	float: left;
	margin: 0 23px;
}
.tabs-item{
	display: inline-block;
	padding: 0 20px;
}
.tabs-link{
	position: relative;
	display: inline-block;
	padding: 14px 0;
	font-size: 16px;
	line-height: 22px;
}
.appHeader-tabsLink{
	color: #8590a6;
	font-size: 15px;
}
.appHeader-tabsLink:hover{
	color: #444;
}
.appHeader-tabsLink.is-active{
	color: #444;
}

.tabs-link.is-active{
	font-weight: bold;
}
.tabs-link.is-active:after{
	content:"";
	position: absolute;
	right: 0;
	left: 0;
	bottom: -1px;
	background: #0084ff;
	height: 3px;
	
}
.appHeader-tab{
	padding: 0 17px;
}
.searchBar{
	float: left;
}
.searchBar-toolWrapper{
	float: left;
}
.searchBar-tool .popover{
	padding: 9px 0;
}
.input-wrapper{
	display: inline-block;
	width: 180px;
	height: 34px;
	padding: 4px 10px;
	position: relative;
	box-sizing: border-box;
	font-size: 14px;
	border: 1px solid #ebebeb;
	border-radius: 3px;
}
.input-wrapper.input-wrapper--grey{
	background: #F6F6F6;
}

.searchBar-input{	
	width: 326px;
}
.input{
	background: transparent;
	padding: 0;
	border: none;
	resize: none;
	outline: none;
}
input.input{
	color: #1a1a1a;
	width:256px;
	height: 24px;
	line-height: 24px;
}

.searchBar-searchButton{
	background: transparent;
	border-color: transparent;
}
.search-icon{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/search_icon.png) no-repeat;
	position: absolute;
	right:9px;
	top:9px;
}
.button--primary.button--blue{
	color: #fff;
	background: #0084ff;
}
.button--primary.button--blue{
	border-color: #0077e6;
	background: #0077e6;
}
.serachBtn-question{
	float: left;
	padding: 9px 0;
}
.searchBar-askButton{
	margin-left: 16px;
}

.appHeader-profile{
	float: right;
	
}
.appHeader-menu button{
	padding: 11px 0;
}
.pushNotifications{
	float: right;
}
.pushNotifications button{
	padding: 15px 0;
}
.appHeader-notifications{
	margin-right: 35px;
	
}
.pushNotifications-count{
	font-size: 12px;
	color: red;
	position: absolute;
	right: 0;
	top: 8px;
}
.popover{
	display: inline-block;
	position: relative;
}
.button--plain{
	padding: 0;
	height: auto;
	line-height: inherit;
	background: transparent;
	border: none;
}
.avatar {
    background: #fff;
    border-radius: 50%;
}
.message-icon{
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../img/message_icon.png) no-repeat;
	background-position: center center
}
