.topstory-container{
	width: 1000px;
	padding: 0 16px;
	margin: 10px auto;
}
.topstory-mainColumn{
	width: 694px;
	margin-right: 10px;
	float: left;
}
.globalSideBar{
	width: auto;
}
.card{
	background: #fff;
	border-radius: 2px;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 0 1px 3px rgba(26,26,26,0.1);
}
.topstory-tabs{
	border-bottom: 1px solid #f0f2f7;
}
.topstoryTabs{
	height: 58px;
}
.topstoryTabs-link{
	display: inline-block;
	font-size: 16px;
	margin: 0 22px;
	vertical-align: middle;
	height: 58px;
	line-height: 58px;
}
.topstoryTabs-link:hover{
	color: #175199;
}
.topstoryTabs-link.is-active{
	color: #0084ff;
	font-weight: 500px;
}


